@mixin devices ($breakpoint) {
  @if $breakpoint ==sm {
    @media only screen and (min-width: 640px) {
      @content;
    }
  }

  @if $breakpoint ==md {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }

  @if $breakpoint ==lg {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint ==xl {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

[hidden] {
  display: none;
}


html {
  scrollbar-gutter: stable;
  color-scheme: dark;
}

.limited,
section {
  max-width: 77rem;
  margin-inline: auto;
}


main {
  padding-block: 8rem 5rem;
}

html {
  scroll-padding-block: 7rem;
}

:root {

  --size-circle-wrapper: 4rem;
  --size-circle: 2.5rem;

}

.header {

  z-index: 7;
  padding-top: .5rem;
  padding-inline: 4vw;
  background-color: var(--bg-card-initial);
  box-shadow: 0 1px 2px 0 rgba(204, 201, 201, 0.479);

  background-color: rgb(255, 255, 255);
  // backdrop-filter: blur(1rem);


  &>.limited {

    min-height: var(--size-circle-wrapper);
    display: flex;
    position: relative;
    align-items: center;

  }

  #circle {
    position: relative;
    width: var(--size-circle);
    height: var(--size-circle);
    border-radius: 100vh;
    // background-image: linear-gradient(pink, red)
  }

}

.use-colors .header {
  --bg1: color-mix(in srgb, var(--bg-body) 20%, var(--light));
  --bg2: color-mix(in srgb, var(--bg-body) 40%, var(--light));
  --bg3: color-mix(in srgb, var(--bg-body) 10%, var(--light));

  background-image: linear-gradient(123deg, var(--bg1), var(--bg2), var(--bg3));
}




// https://codepen.io/kevinpowell/pen/NWEoZeE 
.light {

  --light: rgb(177, 239, 241);
  --dark: rgb(82, 197, 191);

  --color1: #f0bc2e;
  --color2: rgb(255, 254, 254);
  // --color3: #5f75f3;
  --color3: rgb(127, 141, 252);

  --bg-body: rgb(255, 255, 255);
  --color-body: rgb(29, 29, 29);

  --bg-card-initial: rgba(230, 230, 230, 0.8);
}

.dark {
  --light: rgb(82, 197, 191);
  --dark: rgb(32, 110, 107);



  --color1: pink;
  --color2: violet;
  --color3: tomato;


  --bg-body: black;
  --color-body: rgb(221, 220, 220);


  --bg-card-initial: #1c1c1c;
}


body {
  background-color: var(--bg-body);
  color: var(--color-body);

}

body,
#circle {
  transition: color .2s cubic-bezier(0.445, 0.05, 0.55, 0.95), background .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}



.section:hover,
.section:focus-within,
#circle:hover,
#circle:focus-visible {
  --opacity: 1;
}




*:focus-visible {
  outline: 2px solid var(--base) !important;
}


h1,
h2 {
  font-size: 1.5rem;
  // padding-bottom: 1em;
  letter-spacing: -0.05em;
}

h1,
h2 {
  text-align: center;
}


article h1 {
  text-align: start;
  font-size: 1.1rem;
  min-height: 2rem;
  display: grid;
  align-items: center;
}

// projects
.projects-grid {
  --max-w-video: 300px;
  display: grid;
  // --col-width: min(36ch, 100%);
  --col-width: min(45ch, 100%);
  grid-template-columns: repeat(auto-fit, minmax(var(--col-width), 1fr));
  gap: 1rem;
  justify-content: center;



  &>li {
    container-type: inline-size;
    container-name: article-container;
    padding-top: 3vw;
    // more y separation between lis
  }

  & article {
    // max-width: 500px;
    max-width: 600px;
    margin-inline: auto;

  }

  & * {
    line-height: 1;
  }


  & .project__text {

    display: grid;
    grid-template-columns: 1fr;
    gap: .2em;
    padding-top: .5rem;

    font-weight: 400;


  }


  & .project__footer {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: .5rem;
  }


}

@container article-container (width > 500px) {
  .projects-grid {
    // border: 1px solid currentColor;


    & .project__text {
      grid-template-columns: 1fr 300px 1fr;

      // background-color: pink;
      &>*:last-child {
        text-align: end;
      }
    }

    & .project__footer {
      grid-template-columns: 1.5fr 1fr;
    }
  }
}


article {
  --color-mode: srgb-linear;

  --base: var(--bg-body);

  height: 100%;
  padding: 1rem;


  & * {
    line-height: 1.3;
  }

  & .changes-color {
    background-color: var(--bg-card-initial);
    border-radius: .3rem;
    padding-inline: clamp(1rem, 2vw + 10px, 4rem);
    padding-block: 1rem;
  }

  & .carousel,
  .project__text {
    margin-inline: auto;
  }

  // wraps the slides
  & .carousel-ratio-wrapper {
    height: 0;
    padding-bottom: 71.43%;
    position: relative;
  }


  & .video-wrapper>* {
    position: absolute;
    inset: 0;
  }


  & .desc {
    font-weight: 400;
    color: rgba(14, 10, 10, 0.85);
  }

  & h3 {
    font-weight: 500;
  }

  & .aps-tag {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: fit-content;

    gap: .2em;
    letter-spacing: -.03em;
    font-size: .8em;

    background-color: rgba(199, 199, 199, 0.7);
    background-image: linear-gradient(123deg, transparent, rgba(255, 255, 255, 0.774));

    color: currentColor;
    border-radius: 100vh;
    padding: .4em .5em;


  }

  // & .aps-tag:hover svg {
  //   filter: invert(100%)
  // }


}

.use-colors .changes-color {
  background-color: var(--bg);
}


.main--project {
  .changes-color {
    background-color: var(--bg-card-initial);
    //solo en caso de pags de 1 projecto, el color no cambia
  }

  & img {
    border-radius: .3rem;
  }
}



.use-colors .link-inline::before {
  background-color: rgba(255, 255, 255, 0.9);
}

.link-inline {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  padding-inline: .5em;
  padding-block: .7em;
  gap: 0.5em;
  border-radius: .3rem;

  font-size: .9em;
  font-weight: 500;


  justify-content: center;
  color: color-mix(in srgb, black 30%, var(--dark));
  position: relative;

  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: white;
    background-color: var(--bg-card-initial);
    opacity: 1;
    border-radius: inherit;
    z-index: -1;


  }

  &--secondary {
    color: currentColor;
    color: black;
    opacity: .8;
    font-weight: 400;

  }

  &--secondary:before {
    // background-color: rgba(85, 84, 84, 0.192);
    background-color: var(--bg);
    opacity: 1;

  }
}




li:nth-of-type(1) {
  --bg: color-mix(in srgb, var(--bg-body) 40%, var(--light));
}

li:nth-of-type(2) {
  --bg: color-mix(in srgb, var(--bg-body) 50%, var(--dark));
}

li:nth-of-type(3) {
  --bg: color-mix(in srgb, var(--bg-body) 30%, var(--dark));

}

li:nth-of-type(n+9) {
  --bg: color-mix(in srgb, var(--bg-body) 10%, var(--dark));
}






























.wide {
  grid-column: -1/1 !important;
  width: 100%;
}

.list>li {
  position: relative;
  list-style: none;
  padding-left: .7em;
  gap: .5ch;
  position: relative;

  &::before {
    content: '✦';
    opacity: .8;
    font-size: .9em;
    flex-shrink: 0;
    position: absolute;
    line-height: inherit;
    transform: translate(-1em, 0);
  }

  & b {
    // color: coral;
    font-weight: 500;
  }
}

a {
  cursor: pointer;
}