@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .item {
    @apply relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none
  }

  .heading-2 {
    @apply block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900
  }

  .heading-3 {
    @apply block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900 pb-6
  }

  .subheading {
    @apply block antialiased font-sans font-normal leading-relaxed text-inherit text-gray-800 pb-6
  }

  body {
    @apply block antialiased font-sans text-base leading-relaxed text-inherit font-normal text-gray-500
  }

  /* .childs-outlined {
    @apply *:rounded-lg *:border *:border-gray-300 *:p-3 *:shadow-lg *:bg-white
  } */
  .childs-outlined {
    @apply *:rounded-lg *:p-[2rem] *:shadow-sm *:bg-white
  }

}

::selection {
  background-color: violet;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html:focus-within {
    scroll-behavior: auto;
  }
}


/* ::layout */
.may-layout {
  display: grid;
  max-width: 70rem;
  margin-inline: auto;
  background-color: transparent;
}

@media screen and (min-width: 960px) {
  .may-layout {
    grid-template-columns: 30ch 1fr;
  }
}

#sidebar {
  display: none;
  z-index: 9;
}

@media screen and (min-width: 960px) {
  #sidebar {
    display: grid;
    height: 100vh;
    height: 100svh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 1px;
    padding-bottom: 1px;

    padding: 1.5rem;
    /* padding-top: 4rem; */
  }
}

#main {
  position: relative;
}


/* ::images */
img {
  /* border-radius: .5rem; */
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: auto;
  /* max-height: max(20rem, 60vh); */
}

@media (hover) {
  .article img {
    transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* filter: saturate(0.4); */
  }

  .article:hover img {
    /* filter: unset; */
  }
}


/* ::typography */
h1 {
  font-size: clamp(2rem, 10vw, 5rem);
  line-height: .8;
}

h2 {
  font-size: clamp(1.7rem, 3vw, 4rem);
}

.subheading {
  font-size: clamp(1rem, 2vw +5px, 2rem);
}

.heading-card {
  font-size: clamp(1.1rem, 1.2vw + 10px, 3rem);
}

.text-accent {
  color: #50c49d;
}


small {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1rem;
}


/* :: buttons */
a,
button {
  position: relative;
  outline: 2px solid transparent;
  color: inherit;
  transition: all .2s ease;

  &:focus-visible {
    outline-color: violet;
  }
}

a {
  cursor: pointer;
  display: inline-block;
  padding-inline: .5em;
  padding-block: .5em;
  /* width: fit-content;
  height: fit-content; */
  border-radius: var(--radius);
  overflow: hidden;
  transition: all .2s ease;

  &.grid-row {
    width: fit-content;
  }

  &.card {
    width: unset;
  }

  &:hover {
    box-shadow: 0 15px 30px -15px rgba(255, 255, 255, 0.3);
  }
}

.btn-alt {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.06) 0px 1px 1px 0px;
}


.btn-cta {
  --shadow: var(--ghost);

  padding-inline: 1.5em;
  background-color: var(--white);
  color: var(--green);
  font-weight: 500;
  /* font-weight: bold; */
  padding-inline: 2rem;

  overflow: hidden;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(170, 169, 169) 0px 4px 9px -4px;


  outline: 2px solid var(--white);

  &:hover {
    outline-color: gold;

  }
}

.btn-outlined {
  outline: 2px solid var(--ghost);

  &:hover {
    outline-color: currentColor;
  }
}

.btn-primary {

  background-color: var(--green);
  color: white;
  font-weight: 500;
  letter-spacing: -.5px;
  line-height: 1.2;
  outline: 2px solid transparent;



  &:hover {
    outline-color: gold;
  }
}

.btn-secondary {
  background-color: white;
  outline: 1px solid currentColor;

  &:hover {
    outline: 2px solid currentColor;
  }
}



/* :: for projects */
.item p {
  white-space: preserve-breaks;
}

/* :: colors */
:root {
  --white: rgb(246, 246, 246);
  --black: #212121;

  --ghost: rgba(243, 242, 242, 0.8);
  --ghoster: rgba(255, 255, 255, 0.9);
  --bg-card-1: #6bfccc;
  --bg-card-2: #fad02c;
  --bg-card-3: #18226b;

  /* --green: #07939b; */
  --green: #04747a;
  --bg-pure: var(--white);
  --bg-dot: var(--bg-card-3);

  --radius: .7em;
  --h-card: 10rem;
  /* --h-card-negative: -7rem; */
  /* usar : -7rem  no funciona */

  --round-on-bottom: 0 0 var(--radius) var(--radius);
}

.bg-ghost {
  background-color: var(--ghost);
  backdrop-filter: blur(1rem);
  color: black;
}

/* :: sections */


body {
  background-color: var(--white);
}


#main,
#hero,
#footer {
  /* background-color: var(--black);
  box-shadow: 50vw -0 0 0 var(--black); */
}

#sidebar {
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
}

section,
header {
  padding-inline: 1.5rem;
}

section,
footer {
  position: relative;
  background-color: var(--white);
  box-shadow: 50vw 0 0 0 var(--white);
  padding-block: 3rem;
}


header {
  --bg-item: rgba(81, 184, 145, 0.192);
  background-color: transparent;

  & .header-inner,
  .mobile-nav {
    background-color: var(--ghoster);
    backdrop-filter: blur(10rem);
    /* border-radius: var(--radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0; */
    border-radius: var(--round-on-bottom);
  }

  & .logo {
    border-radius: 100vh;
    /* background-color: var(--bg-item); */
  }

  & .aps-tag {
    border-radius: .5rem;
    padding-block: .7em;
    background-color: transparent !important;
    text-decoration: underline;
    border-radius: var(--round-on-bottom);
  }


  & .aps-tag:hover,
  .logo:hover {
    outline: 1px solid var(--green);
  }

  & button {
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-content: center;
  }
}

.logo {
  --size-icon: 1.3rem;
  display: flex;
  align-items: center;

  & img {
    width: var(--size-icon);
    height: var(--size-icon);
  }
}


/* :: hero section */
#hero {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  align-items: center;
  padding-top: 3.3rem;
  overflow: hidden;

  & .hero-inner {
    position: relative;
    border-radius: var(--radius);
    min-height: max(30rem, 80vh);
    padding-top: 8rem;
    padding-bottom: 10rem;
    padding-inline: min(2rem, 10vw);
    /* display: grid;
    align-items: center; */

    /* background-image: url('/duotone.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 0 10px 40px -10px rgba(40, 88, 86, 0.445); */
  }

  & a {
    font-size: 1.1rem;
  }

}

@media screen and (min-width: 960px) {
  #hero {
    padding-top: 4rem;
  }
}


/* :: projects section */
.article {
  --spacer: .7rem;
  position: relative;
  border-radius: .5rem;
  counter-increment: every-project;

  display: grid;
  margin-top: 5rem;
}

.article::before {
  content: "0" counter(every-project);
  font-size: 2.2rem;
  font-size: 5rem;
  display: grid;
  place-content: center;

  position: absolute;
  transform: translate(0, -70%);

  top: 0;
  left: 0;

  font-family: 'Times New Roman', Times, serif;
  padding-left: var(--spacer);
  color: #64fac8;
  font-weight: bold;

  letter-spacing: -.05em;
  opacity: .5;
}


.article {
  & figcaption {
    position: absolute;
    left: 0;
    top: 0;
  }

  & .tags {
    padding: var(--spacer);
    height: fit-content;
  }

  & .aps-tag {
    font-size: .8rem;
    color: black;
  }
}



.subtitle,
.description {
  /* grid-column: 1/-1; */
  white-space: pre-wrap;
  max-width: 52ch;
  padding-inline: .2rem;

}


.description {
  opacity: .8;
}



/* :: lists */

.star-list {



  &>li {
    list-style: none;
    padding-left: 0;
    /* display: flex; */
    /* align-items: start; */
    padding-left: 1.5rem;
    gap: .5ch;
    position: relative;
    padding-bottom: .5em;



  }

  &>li::before {
    content: '✦';
    font-size: .9em;
    /* width: 1.1rem; */
    /* display: grid;
    place-content: center; */
    flex-shrink: 0;
    position: absolute;
    /* top: 2rem; */
    transform: translate(-1.5rem, 0);
  }


}

.not-decorations {


  &::after,
  &::before {
    content: ' ' !important;
  }
}


/* :: tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.aps-tag {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5ch;
  width: fit-content;

  padding: .3em;
  padding-inline: 1em;
  border-radius: 100vh;
  background-color: var(--ghost)
}




/* :: experience section */
#experiencia time {
  --size-dot: 0.1px;
  --color1: #50c49d;
  --color2: rgb(194, 250, 247);

  position: relative;
  font-size: .8rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  width: fit-content;
  gap: .7rem;
  text-transform: uppercase;
  border-left: 1px solid var(--color1);

  &:before {
    content: '';
    width: var(--size-dot);
    height: var(--size-dot);

    box-shadow: 0 0 0 3px var(--color1), 0 0 0 7px var(--color2);
    border-radius: 100vh;

    position: relative;

  }
}

@media screen and (min-width: 960px) {
  #experiencia time {
    border-color: transparent;

    &:before {
      position: absolute;
      left: -1.3rem;
      box-shadow: 0 0 0 5px var(--color1), 0 0 0 10px var(--color2);
    }
  }
}




/* :: unused */
/* .hero-card {
  transform: translateY(-50%);
  height: 10rem;

  --bg: rgba(192, 255, 252, 0.7);
  position: relative;
  background-color: var(--ghoster);
  background-image: radial-gradient(at bottom left, var(--bg), var(--ghoster));
  backdrop-filter: blur(1rem);
  border-radius: var(--radius);

  &:after {
    content: '';
    position: absolute;
    inset: 0;
  }
} 



.has-filter-hue {
  filter: hue-rotate(100deg);
}


.has-noise::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0.3;
  background-position: 50%;
  background-repeat: repeat;
  background-image: url(/big-noise.svg);
  background-size: 132px 100px;
  transition: all .2s ease;
}

@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -10%)
  }

  20% {
    transform: translate(-15%, 5%)
  }

  30% {
    transform: translate(5%, -25%)
  }

  40% {
    transform: translate(-5%, 25%)
  }

  50% {
    transform: translate(-15%, 10%)
  }

  60% {
    transform: translate(15%, 0%)
  }

  70% {
    transform: translate(0%, 15%)
  }

  80% {
    transform: translate(5%, 35%)
  }

  90% {
    transform: translate(-10%, 10%)
  }
}

*/


/* :: utilities */
.flex-group {
  display: flex;
  flex-wrap: wrap;

  &>* {
    flex: 1;
    min-width: fit-content;
  }

  & a {
    width: 100% !important;
    text-align: center;
  }
}


.items-start {
  align-items: start;
  height: fit-content;
}


.contained {
  max-width: 70rem;
  position: relative;
}



.columns {
  column-gap: var(--gap, 2rem);
  columns: min(20ch, 100%);

  &>* {
    break-inside: avoid;
    margin-bottom: var(--gap, 2rem);
  }
}

@media screen and (min-width: 960px) {
  .columns {
    columns: 2;
  }
}





.grid-row {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-auto-flow: column;
  gap: .5rem;

}



.marquee-container {

  --stop1: 0%;
  --stop2: 20%;
  --stop3: 80%;
  --stop4: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 1rem;
  /* background-color: pink; */
  /* transform: translate(0, -100%); */

  mask-image: linear-gradient(to right, transparent var(--stop1), tomato var(--stop2), tomato var(--stop3), transparent var(--stop4));


  & .aps-tag {
    display: inline-flex;
    background-color: white;
    box-shadow: 15px 0 25px -15px rgba(0, 0, 0, 0.8);
  }


}


.marquee-clasic .is-animated {

  display: flex;
  animation: m-clasic 10s linear infinite;
  transform: translateX(0%);
  gap: .5rem;
  color: #04747a;
  pointer-events: none;
  user-select: none;

  &>ul {
    gap: .5rem;
    /* background-color: navy; */
    min-width: 100%;
    /* animation: m-clasic 10s linear infinite; */
  }

  &>ul:first-child {
    /* background-color: gold; */
  }

  & li:nth-of-type(n+4) {
    display: none;
  }


  &:hover {
    animation-play-state: paused;
  }

  & .aps-tag {
    pointer-events: all;
    transition: all .2s ease;
  }
}

@keyframes m-clasic {
  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  .marquee-clasic .is-animated {
    /* animation: m-clasic 12s linear infinite; */
    animation-duration: 12s;

    & li:nth-of-type(n+4) {
      display: inline-flex;
    }
  }
}


.dx-text {
  width: max-content;
  filter: url(#marquee);
  animation: dx 10s linear infinite;
  translate: -100%;
  font-size: .9rem;
  text-transform: uppercase;

  &>* {
    display: inline-flex;
  }


  &::after {
    padding-inline: .7rem;
    color: white;
    display: inline-block;
    content: attr(data-separator);
    filter: drop-shadow(10rem);
    /* is visible? */
  }
}

@keyframes dx {
  to {
    translate: 0%
  }
}


@media (prefers-reduced-motion) {
  .dx-text {
    animation-play-state: paused;
  }
}

.dots {
  content: '';
  position: fixed;
  inset: 0;
  height: 100vh;


  z-index: -1;
  background: linear-gradient(90deg, var(--bg-pure) 15px, transparent 1%) 50%, linear-gradient(var(--bg-pure) 15px, transparent 1%) 50%, var(--bg-dot);
  background-size: 17px 17px;

  mask-image: radial-gradient(ellipse 80% 50% at 50% 0%, transparent 90%, tomato 100%), radial-gradient(ellipse 80% 50% at 50% 0%, transparent 90%, tomato 100%);
  /* mask-image: radial-gradient(ellipse 80% 50% at 0% 100%, transparent 90%, tomato 100%), radial-gradient(ellipse 80% 50% at 100% 0%, transparent 90%, tomato 100%);
  mask-position: bottom left, top right;
  mask-repeat: no-repeat; */
  opacity: .6;
}