@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  body {
    @apply block antialiased font-sans text-base leading-relaxed
  }

  /* .childs-outlined {
    @apply *:rounded-lg *:border *:border-gray-300 *:p-3 *:shadow-lg *:bg-white
  } */
  .childs-outlined {
    @apply *:rounded-lg *:p-[2rem] *:shadow-sm *:bg-white
  }

}

:root {
  --fs-xs: clamp(0.71rem, 0.05vi + 0.7rem, 0.74rem);
  --fs-sm: clamp(.9rem, 0.05vi + 0.7rem, 1rem);
  --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
  --fs-base: clamp(1rem, 0.3vi + 0.91rem, 1rem);
  --fs-md: clamp(1.4rem, 0.91vi + 1.17rem, 1.9rem);
  --fs-lg: clamp(1.96rem, 1.96vi + 1.47rem, 3.04rem);
  --fs-xl: clamp(2.74rem, 3.85vi + 1.78rem, 4.86rem);
  --fs-xxl: clamp(3.84rem, 7.17vi + 2.05rem, 7.78rem);
  --fs-xxxl: clamp(5.38rem, 12.86vi + 2.16rem, 12.45rem);

}

body {
  font-size: var(--fs-base);
  color: rgb(68, 67, 67);
}

::selection {
  background-color: violet;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html:focus-within {
    scroll-behavior: auto;
  }
}


/* ::layout */
.may-layout {
  display: grid;
  max-width: 70rem;
  margin-inline: auto;
  background-color: transparent;
}

@media screen and (min-width: 960px) {
  .may-layout {
    grid-template-columns: 27ch 1fr;
    /* grid-template-columns: 25ch minmax(50ch, 700px); */
  }

  .may-layout #hero {
    /* background-color: rebeccapurple; */
    padding-inline-start: 4rem;
  }
}

#sidebar {
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;

  display: none;
  z-index: 9;
}

@media screen and (min-width: 960px) {
  #sidebar {
    display: grid;
    height: 100vh;
    height: 100svh;
    align-items: end;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    padding-right: 1px;
    padding-bottom: 1px;

    padding: 1.5rem;
    padding-inline-end: 3rem;

    /* animacion en los  li, porque los a tienen otra animacion */
    & li {
      animation: move-up-small .9s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
      /* transform: translateY(10px); */
      opacity: 0;
      /* filter: blur(.5rem); */
    }


    & li:nth-of-type(1) {
      animation-delay: .7s;
    }

    & li:nth-of-type(2) {
      animation-delay: .75s;
    }

    & li:nth-of-type(3) {
      animation-delay: .8s;
    }

    & li:nth-of-type(4) {
      animation-delay: .85s;
    }

    & li:nth-of-type(5) {
      /* animation-delay: .55s; */
    }
  }
}

#main {
  position: relative;
}


/* ::images */
img {
  /* border-radius: .5rem; */
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: auto;
  /* max-height: max(20rem, 60vh); */
}

@media (hover) {
  .article img {
    transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* filter: saturate(0.4); */
  }

  .article:hover img {
    /* filter: unset; */
  }
}


/* ::typography */

.eyebrow {
  font-size: var(--fs-base);
  padding-inline: .2em;
  padding-block: 0;
}

h2,
h3 {
  line-height: 1;
  padding-block: .3em;
}

h1 {
  font-size: clamp(4rem, 10vw + 10px, 6rem);
  line-height: .9;
  font-weight: 700;
  padding-bottom: .2em;

  display: inline-block;


}

.availability {

  border-radius: 5rem;
  font-size: var(--fs-base);
  font-weight: 300;
  width: fit-content;
  line-height: .9;
  margin-top: .8rem;
  margin-inline-end: .5em;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: .3ch;
  padding: 0rem .3em;
  color: rgb(226, 143, 35);
  color: rgb(68, 67, 67);
  opacity: .9 !important;
  font-weight: 400;

  &::before {
    content: '';
    width: .7em;
    height: .7em;
    border-radius: 100vh;
    background-color: currentColor;
    background-color: gold;

  }
}

h2 {

  font-size: var(--fs-xl);
  font-weight: 400;

  &+p {
    font-size: var(--fs-md);
    font-weight: 400;
    padding-bottom: 1em;
    line-height: 1.3;
  }
}

h3 {
  font-size: var(--fs-md);
  font-weight: 400;
}

small {
  font-size: var(--fs-sm);
}


.heading-card {
  font-size: clamp(1.1rem, 1.2vw + 10px, 3rem);
}

.text-accent {
  color: #50c49d;
  position: relative;
  color: transparent;
  user-select: none;

  &:after {
    content: '';
    position: absolute;
    /* inset: 0; */
    width: .15em;
    height: .15em;
    border-radius: 100%;

    right: 0;
    bottom: 0;
    transform: translate(0, -.2em);
    backdrop-filter: saturate(20);

  }
}




/* :: buttons */
a,
button {
  position: relative;
  outline: 2px solid transparent;
  color: inherit;
  transition: all .2s ease;

  &:focus-visible {
    outline-color: lightgreen !important;
  }
}

a {
  cursor: pointer;
  display: inline-block;
  padding-inline: .5em;
  padding-block: .5em;
  /* width: fit-content;
  height: fit-content; */
  border-radius: var(--radius);
  overflow: hidden;
  transition: all .2s ease;

  &.grid-row {
    width: fit-content;
  }

  &.card {
    width: unset;
  }

  &:hover {
    box-shadow: 0 15px 30px -15px rgba(255, 255, 255, 0.3);
  }
}

.btn-alt {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.06) 0px 1px 1px 0px;
}



.btn-cta {
  --border-width: .15em;
  --btn-radius: 3em;


  color: white;

  border-radius: var(--btn-radius);
  position: relative;
  z-index: 1;


  transition: color .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &::before {
    content: '';
    background-color: var(--bg4);
    /* its fallback */

    background-image: linear-gradient(35deg, var(--bg1), var(--bg2), var(--bg3) 80%, var(--bg4));
    background-size: 300%;
    background-position: right;

    position: absolute;
    inset: var(--border-width);
    /* el radius del before white es igual al del padre - el ancho del borde */
    border-radius: calc(var(--btn-radius) - var(--border-width));
    z-index: -1;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

}



.btn-cta:hover {
  color: white;

  &::before {

    background-position: left;
  }

}






.text-violet {
  /* color: rgb(153, 130, 238); */
  color: violet;
  font-weight: 600;

  &::selection {
    background-color: burlywood;
  }
}



.btn-cta,
.btn-secondary {
  padding-inline: 1em;
  font-weight: 600;
  min-height: 3em;
  line-height: 1.1;
  position: relative;

  &:hover {
    z-index: 7;
  }
}

.btn-cta:hover,
.btn-secondary:hover {
  /* x(+ -)   y(+ -)  blur(+)   spread (- +) */
  box-shadow: 0 10px 15px -10px rgba(125, 119, 126, 0.432);
}



.btn-secondary {
  --color1: rgb(231, 202, 163);
  --color1: rgb(231, 219, 163);

  background-color: inherit;
  background-color: rgba(255, 255, 255, 0.541);

  background-image: linear-gradient(30deg, var(--color1), white 99%);
  background-position: right;
  background-size: 200%;

  outline: .1em solid brown;
  outline-offset: -.1em;

  outline-color: burlywood;
  outline-color: transparent;

  color: rgb(226, 143, 35);
  scale: .95;

  min-height: 3em;
  border-radius: 3em;
  box-shadow: 0 20px 50px -10px white;

  &:hover {
    --color1: rgb(253, 200, 84);
    background-color: white;
    transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

}

#hero .btn-secondary {
  outline-color: transparent;
}

#sidebar .btn-secondary {
  /* background-color: #d0dc59;
  color: #094700; */
  text-transform: none;
  font-size: var(--fs-base);
  font-weight: 400;
  font-weight: 500;
}






/* :: for projects */
.item p {
  white-space: preserve-breaks;
}

/* :: colors */
:root {
  --white: rgb(246, 246, 246);
  --black: #212121;

  --ghost: rgba(243, 242, 242, 0.8);
  --ghoster: rgba(255, 255, 255, 0.9);


  --bg4: rgb(240, 240, 240);
  --bg3: rgb(228, 108, 228);
  --bg2: rgb(74, 14, 187);
  --bg1: rgb(154, 110, 255);


  --green: #04747a;

  --green: violet;

  --bg-pure: var(--white);
  --bg-dot: var(--bg-card-3);

  --radius: .7em;
  --h-card: 10rem;
  /* --h-card-negative: -7rem; */
  /* usar : -7rem  no funciona */

  --round-on-bottom: 0 0 var(--radius) var(--radius);

  --shadow-no-btn: 5px 5px 11px -15px rgba(0, 0, 0, 0.8);
}

.bg-ghost {
  background-color: var(--ghost);
  backdrop-filter: blur(1rem);
  color: black;
}

/* :: sections */
body {
  background-color: var(--white);

  background-image: linear-gradient(to bottom, #ffffff, #fcfbfe, #faf7fd, #f9f3fc, #f8eefa, #f4eefc, #efeefe, #eaeeff, #def3ff, #d2f9ff, #cefdf8, #d6ffe8);
}



section,
header {
  padding-inline: 1.5rem;
}

section,
footer {
  position: relative;

  /* background-color: var(--white); */
  /* box-shadow: 50vw 0 0 0 var(--white); */
  padding-block: 3rem;
}


header {
  --bg-item: rgba(81, 184, 145, 0.192);
  background-color: transparent;

  & .header-inner,
  .mobile-nav {
    background-color: var(--ghoster);
    backdrop-filter: blur(10rem);
    border-radius: var(--round-on-bottom);
  }

  & .mobile-nav {
    border-radius: var(--radius);
  }

  & .header-inner {
    /* animacion duracion delay ... */
    animation: appear 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    padding: 0
  }

  & .logo {
    /* border-radius: 100vh; */
    height: 3rem;
    width: 3rem;
    display: grid;
    place-content: center;
    /* background-color: var(--bg-item); */
  }

  & .aps-tag:hover,
  .logo:hover,
  button:hover {
    outline: 1px solid var(--green);
    outline-offset: -1px;
  }

  & button {
    width: 3rem;
    height: 3rem;
    display: grid;
    place-content: center;
    background-color: var(--ghoster);
  }
}

.logo {
  --size-icon: 1.7rem;
  display: flex;
  align-items: center;

  & img {
    width: var(--size-icon);
    height: var(--size-icon);
  }
}

header button svg {
  width: 1.5rem;
  height: 1.5rem;
}

section {
  overflow-x: hidden;
}

footer {
  font-size: var(--fs-sm);
}

/* :: hero section */
#hero {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  align-items: center;
  padding-top: 3.5rem;
  overflow: hidden;

  & .hero-inner {
    position: relative;
    border-radius: var(--radius);
    min-height: max(30rem, 80vh);
    padding-top: 6rem;
    padding-bottom: 8rem;
    /* display: grid;
    align-items: center; */

    /* background-image: url('/duotone.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 0 10px 40px -10px rgba(40, 88, 86, 0.445); */
    /* animation: appear 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; */
  }

  & .email,
  .linkedin {

    animation: move-up-small 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    /* transform: translateY(10px); */
    opacity: 0;
  }

  & .email {
    animation-delay: .5s;
  }

  & a[href*="linkedin"] {
    animation-delay: .8s;
  }

  a[href$='.pdf'] {
    color: tomato;
  }

  & a {
    font-size: 1.1rem;
  }

  & .hero-email {
    font-size: var(--fs-xs);
  }

}




@media screen and (min-width: 960px) {
  header {
    display: none;
  }

  #hero {
    padding-top: 4rem;
  }
}



/* empieza en 0, va arriba en 60% y rebota */

@keyframes move-up-small {

  60% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
    opacity: .5;
  }

  80% {
    transform: translateY(0);
    /* background-color: pink; */
    opacity: .8;
  }

  90% {
    transform: translateY(-10px);
    /* background-color: orange; */
    animation-timing-function: ease-out;
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    /* background-color: violet; */
    animation-timing-function: ease-out;
    opacity: 1;
  }
}


@keyframes appear {
  0% {
    opacity: 0;
    filter: blur(1rem);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* :: projects section */
.article {
  --spacer: .7rem;
  position: relative;
  border-radius: .5rem;
  counter-increment: every-project;

  display: grid;
  margin-top: 5rem;
}

.article::before {
  content: "0" counter(every-project);
  font-size: 2.2rem;
  font-size: 5rem;
  display: grid;
  place-content: center;

  position: absolute;
  transform: translate(0, -70%);

  top: 0;
  left: 0;

  font-family: 'Times New Roman', Times, serif;
  padding-left: var(--spacer);
  color: white;
  font-weight: bold;

  letter-spacing: -.05em;

}


.article {
  & figcaption {
    position: absolute;
    left: 0;
    top: 0;
  }

  & .tags {
    padding: var(--spacer);
    height: fit-content;
  }

  & .aps-tag {
    font-size: var(--fs-sm);
    color: rgb(48, 47, 47);
  }
}



.subtitle,
.description {
  white-space: pre-wrap;
  max-width: 52ch;
  padding-inline: .2rem;

}


.description {
  opacity: .8;
}



/* :: lists */

.star-list {



  &>li {
    list-style: none;
    padding-left: 0;
    /* display: flex; */
    /* align-items: start; */
    padding-left: 1.5rem;
    gap: .5ch;
    position: relative;
    padding-bottom: .5em;



  }

  &>li::before {
    content: '✦';
    font-size: .9em;
    /* width: 1.1rem; */
    /* display: grid;
    place-content: center; */
    flex-shrink: 0;
    position: absolute;
    /* top: 2rem; */
    transform: translate(-1.5rem, 0);
  }


}

.not-decorations {


  &::after,
  &::before {
    content: ' ' !important;
  }
}


/* :: tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}

.aps-tag {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5ch;
  width: fit-content;

  padding: .3em;
  padding-inline: 1em;
  border-radius: 100vh;
  background-color: var(--ghost);
  color: rgb(68, 67, 67);
  font-size: var(--fs-base);
}




/* :: experience section */

time {
  text-transform: uppercase;
  font-size: var(--fs-sm);
  line-height: 1.2;
  display: block;
}

#experiencia ol>li {

  --size-middle-dot: 0rem;
  --size-ring1: .3em;
  --size-ring2: .7em;

  --color1: var(--bg3);
  --color2: var(--bg4);

  position: relative;


  &:before {
    content: '';
    width: var(--size-middle-dot);
    height: var(--size-middle-dot);
    background-color: white;

    box-shadow: 0 0 0 var(--size-ring1) var(--color1), 0 0 0 var(--size-ring2) var(--color2);
    border-radius: 100vh;


    position: absolute;
    left: 0;
    top: 0;


    transform: translate(-50%, 2rem);

  }
}






/* :: unused */
/* 

.has-noise::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0.3;
  background-position: 50%;
  background-repeat: repeat;
  background-image: url(/big-noise.svg);
  background-size: 132px 100px;
  transition: all .2s ease;
}

@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -10%)
  }

  20% {
    transform: translate(-15%, 5%)
  }

  30% {
    transform: translate(5%, -25%)
  }

  40% {
    transform: translate(-5%, 25%)
  }

  50% {
    transform: translate(-15%, 10%)
  }

  60% {
    transform: translate(15%, 0%)
  }

  70% {
    transform: translate(0%, 15%)
  }

  80% {
    transform: translate(5%, 35%)
  }

  90% {
    transform: translate(-10%, 10%)
  }
}

*/


/* :: utilities */
.flex-group {
  display: flex;
  flex-wrap: wrap;

  &>* {
    flex: 1;
    min-width: fit-content;
  }

  & a {
    width: 100% !important;
    text-align: center;
  }
}


.items-start {
  align-items: start;
  height: fit-content;
}


.contained {
  max-width: 70rem;
  position: relative;
}



.columns {
  column-gap: var(--gap, 2rem);
  columns: min(20ch, 100%);

  &>* {
    break-inside: avoid;
    margin-bottom: var(--gap, 2rem);
  }
}

@media screen and (min-width: 960px) {
  .columns {
    columns: 2;
  }
}





.grid-row {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-auto-flow: column;
  gap: .5rem;

}


.marquee-container,
.hero-inner .flow>* {
  animation: appear 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}



.text-gradient {
  --bg-size: 100%;


  --color1: var(--bg1);
  --color2: var(--bg3);
  --color3: var(--bg3);
  --color4: var(--bg4);


  background: linear-gradient(90deg, var(--color1), var(--color2), var(--color3), var(--color4)) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}



.marquee-container {

  --stop1: 0%;
  --stop2: 20%;
  --stop3: 80%;
  --stop4: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 2rem;
  /* background-color: pink; */
  /* transform: translate(0, -100%); */

  mask-image: linear-gradient(to right, transparent var(--stop1), tomato var(--stop2), tomato var(--stop3), transparent var(--stop4));



  & .aps-tag {
    display: inline-flex;
    background-color: white;
    box-shadow: var(--shadow-no-btn);
  }
}


.dx-text {
  width: max-content;
  filter: url(#marquee);
  animation: dx 10s linear infinite;
  translate: -100%;
  font-size: .9rem;
  text-transform: uppercase;

  &>* {
    display: inline-flex;
  }

  &::after {
    padding-inline: .7rem;
    color: white;
    display: inline-block;
    content: attr(data-separator);
    filter: drop-shadow(10rem);
    /* is visible? */
  }
}

@keyframes dx {
  to {
    translate: 0%
  }
}


@media (prefers-reduced-motion) {
  * {
    animation-play-state: paused;
  }
}

.dots {
  --white: white;

  /* si fuese fixed el mask de elipse aplicaria a bgs del body tambien */
  &::after {
    content: '';
    position: absolute;
    inset: 0;

    z-index: -1;
    background: linear-gradient(90deg, var(--white) 15px, transparent 1%) 50%, linear-gradient(var(--white) 15px, transparent 1%) 50%, var(--bg-dot);
    background-size: 17px 17px;

    /* mask-image: radial-gradient(ellipse 80% 50% at 50% 0%, transparent 90%, tomato 100%), radial-gradient(ellipse 80% 50% at 50% 0%, transparent 90%, tomato 100%); */


    mask-image: linear-gradient(90deg, transparent 10%, tomato);

    opacity: .6;
  }

}

.gradient {
  /* content: ''; */
  position: fixed;
  inset: 0;
  height: 110vh;
  /* background-color: pink; */
  background-image: linear-gradient(white 60%, transparent);
}

.animation-marquee,
.animation-marquee2 {
  --anim-duration: 20s;
  color: var(--black);
  display: inline-flex;
  gap: .5rem;
  padding-inline: .25rem;
  font-size: 1.1rem;
}

.animation-marquee {
  animation: marquee var(--anim-duration) linear infinite;
}

.animation-marquee2 {
  animation: marquee2 var(--anim-duration) linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}